html{
    margin: 0;
}
/*variables*/
principal-color {
    --main-bg-color: #076216;
    --grey-solid-color: #8a8a8acc;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo-agrosanti img{
    height: 80px;
    width: auto;
    display: block;
}
h1, h3{
    font-family: 'Times New Roman', Times, serif;

}
/* estilos generales*/
/* Inicio del Nav-block*/
.nav-flex {
    background-color: #bfbfbfcc;
    border: 1px solid var(--grey-solid-color);
    margin-bottom: 5px;
}
.nav {
    display: inline-block;
}
.nav-block ul, .nav-flex ul{
    list-style: none;

}
.nav-block li, .nav-flex li{
    display: inline-block;
    margin-right: 5px;
}
.nav-block a, .nav-flex a{
    text-decoration: none;
    color: #076216;
    line-height: 47px;
    border: 1px solid var(--grey-solid-color);
    padding: 15px;
}
/* Fin del Nav-block*/

/*Inicio del Nav-flex*/
.nav-flex .nav{
    display: flex;
    /*justify-content: space-between;*/
    justify-content: right;
    /* flex-direction: row-reverse; */
}

/*Fin del Nav-flex*/
.carrusel-image img{
    height: 300px;
    width: auto;
}
.carrusel-image ul{
    display: flex;
    
    justify-content:start;
    align-items:flex-start;
}


.container{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column nowrap; */

    justify-content:space-between;

    align-items:flex-start;
    height: 100vh;

}
.container .hijos, .container .hijos2{
    background: #ccc;
    padding: 10px;
    margin: 10px;
    /* display: inline-block; */
    order: 2;
}
.container .hijos{
    flex-grow:1;
}
.container .hijos2{
    order: 1;
    flex-grow:5;
}


/* inicia el contenido */
#contenido{
    border: 1px solid black;
}
.hijos h1{
    background-color: blueviolet;
    color: #ffff;
}
small.vis-nieto{
    background-color: rgb(86, 7, 7);
    color: #ffff;
}


footer{
    background: rgba(84, 21, 21, 0.926);
    color: white;
}